@model SimpleInterestModel;

@{
    ViewData["Title"] = "Simple Interest Calculator";
}

<h1>@ViewData["Title"]</h1>

<p>Calculate your simple interest.</p>


<form asp-controller="SimpleInterest" asp-action="Interest" method="post">
    <div asp-validation-summary="All"></div>  
    <input type="number" asp-for="Price" placeholder="Enter amount to borrow">
    <input type="number" asp-for="Time" placeholder="Enter time to borrow">
    <button type="submit">Calculate</button>
</form>


@* @if (Model.Interest != null) {
    <p>Your interest rate is @Model.Interest</p>
} *@