@model SimpleInterestModel;

@{
    ViewData["Title"] = "Simple Interest Calculator";
}

<h1>@ViewData["Title"]</h1>

<p>Your simple interest is @Model.Interest</p>
<p>Price: @Model.Price</p>
<p>Time: @Model.Time</p>